html {
  font-size: 16px;
}

body {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.custom-cursor {
  width: 1rem;
  height: 1rem;
  background-color: #bdbdbd;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s ease;
  z-index: 9999;
}

* {
  cursor: none !important;
}

/* Mobile */
@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }

  * {
    cursor: auto !important;
  }
}

nav {
    background-color: #f7f7f7;
    z-index: 1000;
    width: 100vw;
    max-height: 6.25rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    color: #555555;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    display: flex;
    justify-content: right;
    gap: 3vw;
    padding-right: 10vw;
}

.links {
    color: #555555;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 8%;
}

.logo a:hover {
    color: #555555;
}

.logo {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 1%;
    margin-left: 10%;
    display: flex;
    margin-right: auto;
    margin-top: 1%;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #c3c2c2;
}

.title {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 10%;
    color: #555555;
    margin-right: 10%;
    line-height: 1.25;
}

.intro-media {
  margin-top: 5rem;
}

.pipe {
    font-weight: 400;
    color: #555555;
    margin-left: 10%;
    font-size: 1rem;
}

.btn {
    background-color: #506385;
    color: #f7f7f7;
    border-radius: 0.3125rem;
    border: 1px solid #506385;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    padding: 0.9375rem 1.5625rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10%;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    text-decoration: none;
}
  
.btn:hover {
    background-color: #f7f7f7;
    color: #555555;
}
  
.btn:active {
    background-color: #f7f7f7;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.sub-headers {
    font-size: 1rem;
    color: #a6a6a6;
    font-weight: 400;
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.description {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
}

.description-big {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
    margin-bottom: -0.5%;
}

.custom-bold {
    font-weight: 500;
}

ol {
  padding-left: 1%;
  margin-left: 0;
}

li {
  padding-left: 0.625rem;
}

.secondary-research-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.discovery-img {
    width: 76%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.insights-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.ideation-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.user-test-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.design-decision-1-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

video {
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
}

footer {
    background-color: #eeecec;
    color: #555555;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
}

.footer-intro {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 10%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
}

.footer-section {
    flex-basis: 30%;
}

.footer-header {
    font-size: 0.9rem;
    color: #a6a6a6;
    font-weight: 400;
}

.footer-p,
.footer-span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555555;
}

@media (max-width: 768px) {

  html {
    font-size: 17px;
  }

  .btn {
    padding: 0.375rem 0.625rem;
  }

  .nav-links {
    margin-top: 3%;
  }
    
  .links {
    font-size: 0.9rem;
  }

  .logo {
    margin-top: 5%;
    font-size: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .pipe {
    font-size: 1rem;
  }

  .sub-headers {
    font-size: 1rem;
  }

  .description,
  .description-big {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
  }

  footer {
    background-color: #eeecec;
    color: #555555;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
  }

  .footer-intro {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10%;
  }

  .footer-container {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
  }

  .footer-header {
    font-size: 0.9rem;
    color: #a6a6a6;
    font-weight: 500;
  }

  .footer-p {
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
  }

  .footer-span {
    font-size: 1rem;
    font-weight: 400;
  }

}