body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

nav {
    background-color: #f7f7f7;
    z-index: 1000;
    width: 100vw;
    max-height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    color: #352f36;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: right;
    gap: 4vw;
    padding-right: 10vw;
}

.links {
    color: #352f36;
    font-size: 1.05vw;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 8%;
}

.links:hover {
    border-bottom: 1.5px solid #352f36;
    cursor: pointer;
    margin-bottom: -4px;
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    padding-top: 1%;
    margin-left: 10%;
    display: flex;
    margin-right: auto;
    margin-top: 1%;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #352f36;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 7%;
  }
  
.me {
    width: 30%;
    margin-left: 10%;
    padding-top: 5%;
    margin-right: 5%;
}
  
.intro-text {
    flex: 1;
}

.intro {
    padding-top: 15%;
    color: #a6a6a6;
    font-weight: 600;
    font-size: 1.1vw;
}

.intro2 {
    margin-top: 2%;
    color: #352f36;
    font-weight: 600;
    font-size: 3.5vw;
}

.intro-3 {
    margin-top: 2%;
    color: #352f36;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.7;
    width: 70%;
    margin-right: 10%;
}

#arrow {
    transition: transform 0.2s ease-in-out;
    text-align: center;
    color: #a6a6a6;
    font-weight: 300;
    font-size: 3.5vw;
    padding-top: 5%;  
    cursor: pointer;  
}
  
#arrow:hover {
    transform: translateY(5px);
    color: #352f36;
}

#target-section {
    scroll-snap-align: start;
    padding-top: 8vw;
}

.more-stuff-grid {
    background: #f7f7f7;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(500px, 300px)) minmax(1em,1fr);
    grid-column-gap: 10vw;
    grid-row-gap: 15vw;
}

.des {
    line-height: 1.5;
    color: #352f36;
    font-size: 1.2vw;
}

.slide-in h1 {
    line-height: 1.5;
    font-weight: 600;
    color: #352f36;
    font-size: 1.8vw;
}

a {
    text-decoration: none;
}

.button-1 {
    font-weight: 600;
    color: #a6a6a6;
    font-size: 1.1vw;
    cursor: pointer;
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
}

.button-1:hover {
    color: #115475;
    transform: translateX(6px); 
}

.button-2 {
    font-weight: 600;
    color: #a6a6a6;
    font-size: 1.1vw;
    cursor: pointer;
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
}

.button-2:hover {
    color: #D25335;
    transform: translateX(6px);
}

.button-3 {
    font-weight: 600;
    color: #a6a6a6;
    font-size: 1.1vw;
    cursor: pointer;
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
}

.button-3:hover {
    color: #586064;
    transform: translateX(6px);
}

.button-4 {
    font-weight: 600;
    color: #a6a6a6;
    font-size: 1.1vw;
    cursor: pointer;
    margin-top: 5%;
    transition: transform 0.2s ease-in-out;
}

.button-4:hover {
    color: #1B5A96;
    transform: translateX(6px);
}

.myhealth-img {
    width: 100%;
}

.whoseland-img {
    width: 100%;
}

.web-des-img {
    width: 90%;
}

.from-left {
    grid-column: 2 / 3;
}
  
.from-right {
    grid-column: 3 / 4;
}

footer {
    background-color: #eeecec;
    color: #352f36;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
}

.footer-intro {
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 10%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
}

 .footer-section {
    flex-basis: 30%;
}

.footer-header {
    font-size: 1vw;
    color: #a6a6a6;
    font-weight: 600;
}

.footer-p {
    font-size: 1.2vw;
    font-weight: 400;
    color: #352f36;
}

.footer-span {
    font-size: 1.2vw;
    font-weight: 400;
}

@media (max-width: 480px) {

.nav-links {
    margin-top: 3%;
}

.links {
    font-size: 2.05vw;
}
        
.logo {
    margin-top: 5%;
    font-size: 2.5vw;
}

.container {
    display: block;
    margin-top: 15%;
    text-align: center;
}
  
.me {
    width: 50%;
    padding-top: 5%;
    text-align: center;
}

.intro {
    padding-top: 5%;
    color: #a6a6a6;
    font-weight: 600;
    font-size: 1.6vw;
}

.intro2 {
    color: #352f36;
    font-weight: 600;
    font-size: 4vw;
}

.intro-3 {
    margin-top: 4%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2vw;
}

#arrow {
    display: none;
}

.background {
    height: 25vh;
    width: auto;
    overflow-x: hidden;
} 

#target-section {
    scroll-snap-align: start;
    padding-top: 0;
}

.more-stuff-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(150px, 100px)) minmax(1em,1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 10vw;
}

.slide-in h1 {
    font-size: 2.2vw;
}

.des {
    font-size: 1.6vw;
}

.button-1 {
    font-size: 1.5vw
}

.button-2 {
    font-size: 1.5vw
}

.button-3 {
    font-size: 1.5vw
}

footer {
    background-color: #eeecec;
    color: #352f36;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
}

.footer-intro {
    font-size: 2vw;
    font-weight: 600;
    margin-left: 10%;
}

.footer-container {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
}

.footer-header {
    font-size: 1.5vw;
    color: #a6a6a6;
    font-weight: 600;
}

.footer-p {
    font-size: 1.7vw;
    font-weight: 400;
    color: #352f36;
}

.footer-span {
    font-size: 1.7vw;
    font-weight: 400;
}

}

