body {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.custom-cursor {
  width: 16px;
  height: 16px;
  background-color: #bdbdbd;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s ease;
  z-index: 9999;
}

* {
  cursor: none !important;
}

nav {
    background-color: #f7f7f7;
    z-index: 1000;
    width: 100vw;
    max-height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    color: #555555;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    display: flex;
    justify-content: right;
    gap: 3vw;
    padding-right: 10vw;
}

.links {
    color: #555555;
    font-size: 1.05vw;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 8%;
}

.logo a:hover {
    color: #555555;
}


.logo {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    padding-top: 1%;
    margin-left: 10%;
    display: flex;
    margin-right: auto;
    margin-top: 1%;
    cursor: poEuropa;
}

.logo a {
    text-decoration: none;
    color: #c3c2c2;
}

.cover {
    width: 100vw;
    height: auto;
    top: 100%;
    left: 0;
    margin-top: 5%;
}

.title {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 2.8vw;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 10%;
    color: #555555;
    margin-right: 10%;
    line-height: 1.25;
}

.pipe {
    font-weight: 500;
    color: #555555;
    margin-left: 10%;
    font-size: 1vw;
}

.background {
    font-size: 1.389vw;
    color: #555555;
    font-weight: 500;
    margin-left: 10%;
    line-height: 1.7;
    margin-top: 3%;
    margin-right: 10%;
}

.background-info {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%;
    line-height: 1.75;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 4%;
}

.btn {
    background-color: #D25335;
    color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #D25335;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    font-size: 1.15vw;
    cursor: poEuropa;
    margin-left: 10%;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    text-decoration: none;
}
  
.btn:hover {
    background-color: #f7f7f7;
    color: #555555;
}
  
.btn:active {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headers {
    font-size: 0.9vw;
    color: #a6a6a6;
    font-weight: 500;
    margin-left: 10%;
    margin-top: 5%;
}

.problems-des {
    font-size: 1.389vw;
    color: #555555;
    font-weight: 500;
    margin-left: 10%;
    line-height: 1.7;
    margin-top: 2%;
    margin-right: 10%;
}

.problems-des-2 {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
    margin-top: 2%;
}

.goals-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
    margin-top: 2%;
}

.observations-img {
    width: 65%;
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    display: block;
    width: 80%;
}

.usability-testing-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 230px;
    margin-top: 2%;
}

.usability-box-1 {
    background-color: #f0f0f0;
    padding: 0.4vh;
    margin-left: 10%;
    display: block;
    width: fit-content;
    margin-top: 2%;
    padding-right: 0.9vw;
    text-indent: 0.8vw;
}
  
.usability-box-1 p {
    color: #555555;
    font-size: 1.05vw;
    text-align: left;
    font-weight: 400;
}

.usability-box-2 {
    background-color: #f0f0f0;
    padding: 0.4vh;
    margin-left: 10%;
    display: block;
    width: fit-content;
    margin-top: 2%;
    padding-right: 0.9vw;
    text-indent: 0.8vw;
}
  
.usability-box-2 p {
    color: #555555;
    font-size: 1.05vw;
    text-align: left;
    font-weight: 400;
}

.usability-box-3 {
    background-color: #f0f0f0;
    padding: 0.4vh;
    margin-left: 10%;
    display: block;
    width: fit-content;
    margin-top: 2%;
    padding-right: 0.9vw;
    text-indent: 0.8vw;
}
  
.usability-box-3 p {
    color: #555555;
    font-size: 1.05vw;
    text-align: left;
    font-weight: 400;
}

.usability-testing-results-img {
    margin-right: 10%;
    height: auto;
    margin: 2% auto;
    display: block;
    width: 80%;
}

.testing-results {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
    margin-top: 40px;
}

.persona-img {
    width: 15%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    width: 20%;
}

.persona-stat span {
    margin-right: 5%;
    color: #555555;
    font-size: 1.05vw;
    font-weight: 400;
}

.persona-stat {
    margin-left: 35%;
    margin-top: 3%;
}

.persona-stat b {
    font-weight: 550;
}

.persona-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 35%;
}

.persona-list {
    display: flex;
    flex-wrap: wrap;
    color: #555555;
    line-height: 1.7;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
}
  
.column-title {
    font-size: 1.05vw;
    font-weight: 500;
    color: #555555;
}

.column {
    flex: 1;
    margin: 25px;
    font-size: 1.05vw;
    margin-left: 35px;
    color: #555555;
}
  
.column ul {
    padding: 0;
    margin: 0;
    color: #555555;
}
  
.column li {
    margin-bottom: 5%;
    color: #555555;
}

.issue-1 {
    font-size: 1.389vw;
    color: #555555;
    font-weight: 500;
    margin-left: 10%;
    line-height: 1.7;
    margin-top: 2%;
    margin-right: 20%;
}

.issue-1-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 20%;
    margin-top: 2%;
}

.card-sort {
    margin-right: 10%;
    height: auto;
    margin: 2% auto;
    display: block;
    width: 80%;
}

.card-sort-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 20%;
    margin-top: 2%;
}

.nav-map-img {
    margin-right: 10%;
    height: auto;
    margin: 2% auto;
    display: block;
    width: 80%;
}

.issue-2-list {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 20%;
    margin-top: 2%;
}

.lo-fi {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-left: 10%;
    margin-top: 2%;
}

.lo-fi-img {
    width: 62%;
    height: auto;
    margin: 2% auto;
    display: block;
    width: 80%;
}

.design-img {
    margin-right: 10%;
    height: auto;
    margin: 2% auto;
    display: block;
    width: 80%;
}

.map {
    width: 65%;
    height: auto;
    margin-left: 10%;
    margin-top: 2%;
}

.search {
    width: 65%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
}

.learning {
    width: 56%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
}

.looking-forward-des {
    font-size: 1.05vw;
    color: #555555;
    font-weight: 400;
    margin-left: 10%; 
    line-height: 1.7;
    margin-right: 10%;
    margin-top: 2%;
}

footer {
    background-color: #eeecec;
    color: #555555;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
}

.footer-intro {
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 10%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
}

 .footer-section {
    flex-basis: 30%;
}

.footer-header {
    font-size: 1vw;
    color: #a6a6a6;
    font-weight: 400;
}

.footer-p {
    font-size: 1.2vw;
    font-weight: 400;
    color: #555555;
}

.footer-span {
    font-size: 1.2vw;
    font-weight: 400;
}


@media (max-width: 480px) {

.btn {
    padding: 6px 10px;
}

.nav-links {
    margin-top: 3%;
}
    
.links {
    font-size: 2.05vw;
}

.logo {
    margin-top: 5%;
    font-size: 2.5vw;
}

.cover {
    margin-top: 11%;
}

footer {
    background-color: #eeecec;
    color: #555555;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 10%;
}

.footer-intro {
    font-size: 2vw;
    font-weight: 500;
    margin-left: 10%;
}

.footer-container {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    padding-top: 2%;
}

.footer-header {
    font-size: 1.5vw;
    color: #a6a6a6;
    font-weight: 500;
}

.footer-p {
    font-size: 1.7vw;
    font-weight: 400;
    color: #555555;
}

.footer-span {
    font-size: 1.7vw;
    font-weight: 400;
}

}